.header-icon {
  max-height: 24px;
  width: 100%;
  cursor: pointer;
}
.header-icon--logo {
  max-height: 20px;
  margin-top: 2px;
  width: 100%;
  cursor: pointer;
}

.background-f9f9f9:hover {
  background-color: #f9f9f9;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
